# SPDX-FileCopyrightText: Simon Schneegans <code@simonschneegans.de>
# SPDX-License-Identifier: CC0-1.0

/locale
*~
*.zip
*.blend1
*.blend2
*.blend3
/resources/flypie.gresource
/resources/flypie.gresource.xml
/schemas/gschemas.compiled