/* This is used in the tutorial. */
.drop-shadow {
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.4);
}

.pill-button {
    border-radius: 9999px;
    -gtk-outline-radius: 9999px;
}

.counter-label {
    text-shadow: none;
    color: @theme_selected_fg_color;
    background-color: @theme_selected_bg_color;
    font-size: smaller;
    border-radius: 5px;
    padding: 0px 8px;
}