name: Badges

on:
  push:
    branches:
      - develop

jobs:
  update-badges:
    name: Update Badges
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2
      - name: Download cloc
        run: sudo apt-get update -y && sudo apt-get install -y cloc
      - name: Get the Numbers
        run: |
          echo "::set-env name=CODE_LINES::$(   ./cloc.sh --loc)"
          echo "::set-env name=COMMENT_LINES::$(./cloc.sh --percentage)%"
      - name: Create Lines-of-Code-Badge
        uses: schneegans/dynamic-badges-action@master
        with:
          auth: ${{ secrets.UPLOAD_BADGES }}
          gistID: 8f6459c2417de7534f64d98360dde865
          filename: loc.json
          label: Lines of Code
          message: ${{ env.CODE_LINES }}
          color: lightgrey
      - name: Create Comments-Badge
        uses: schneegans/dynamic-badges-action@master
        with:
          auth: ${{ secrets.UPLOAD_BADGES }}
          gistID: 8f6459c2417de7534f64d98360dde865
          filename: comments.json
          label: Comments
          message: ${{ env.COMMENT_LINES }}
          color: green
